<?xml version="1.0" encoding="utf-8"?>
<settings>
    <group id="activation" title="@Strings.ActivationGroupTitle">
        <setting propertyKey="@Properties.deviceId" title="@Strings.DeviceIdTitle">
            <settingConfig type="alphaNumeric" readonly="true" />
        </setting>
        <setting propertyKey="@Properties.licenseKey" title="@Strings.LicenseTitle" prompt="@Strings.LicensePrompt">
            <settingConfig type="alphaNumeric" maxLength="17" />
        </setting>
    </group>
    <group id="appearance" title="@Strings.AppearanceGroupTitle">
        <setting propertyKey="@Properties.fontStyle" title="@Strings.FontStyleTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.FontCollege</listEntry>
                <listEntry value="1">@Strings.FontBreeSerif</listEntry>
                <listEntry value="2">@Strings.FontGorditas</listEntry>
                <listEntry value="3">@Strings.FontLumberjack</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.colorTheme" title="@Strings.ColorThemeTitle">
            <settingConfig type="list">
                <listEntry value="5">@Strings.ThemeMistApricot</listEntry>
                <listEntry value="6">@Strings.ThemeMintRose</listEntry>
                <listEntry value="7">@Strings.ThemeLavenderCream</listEntry>
                <listEntry value="8">@Strings.ThemeBlueTerracotta</listEntry>
                <listEntry value="15">@Strings.ThemeSageRose</listEntry>
                <listEntry value="16">@Strings.ThemeBlueCream</listEntry>
                <listEntry value="17">@Strings.ThemePeachPeriwinkle</listEntry>
                <listEntry value="18">@Strings.ThemeAquaLilac</listEntry>
                <listEntry value="19">@Strings.ThemeRoseAqua</listEntry>
                <listEntry value="20">@Strings.ThemeApricotSage</listEntry>
                <listEntry value="0">@Strings.ThemeLime</listEntry>
                <listEntry value="1">@Strings.ThemeBlue</listEntry>
                <listEntry value="2">@Strings.ThemeOrange</listEntry>
                <listEntry value="3">@Strings.ThemePurple</listEntry>
                <listEntry value="4">@Strings.ThemeWhite</listEntry>
                <listEntry value="9">@Strings.ThemeMint</listEntry>
                <listEntry value="10">@Strings.ThemeRose</listEntry>
                <listEntry value="11">@Strings.ThemeCream</listEntry>
                <listEntry value="12">@Strings.ThemeSage</listEntry>
                <listEntry value="13">@Strings.ThemePeach</listEntry>
                <listEntry value="14">@Strings.ThemePeriwinkle</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.batteryBarStyle" title="@Strings.BatteryBarStyleTitle">
            <settingConfig type="list">
                <listEntry value="0">@Strings.BatteryBarSegmented</listEntry>
                <listEntry value="1">@Strings.BatteryBarSolid</listEntry>
                <listEntry value="2">@Strings.BatteryBarMoreSegments</listEntry>
                <listEntry value="3">@Strings.BatteryBarDots</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.labelLanguage" title="@Strings.DataLabelLanguageTitle">
            <settingConfig type="list">
                <listEntry value="1">@Strings.LanguageEnglish</listEntry>
                <listEntry value="2">@Strings.LanguageChinese</listEntry>
                <listEntry value="3">@Strings.StyleIcons</listEntry>
            </settingConfig>
        </setting>
    </group>
    <!-- Data settings are generated per device by scripts/generate_device_settings.py. -->
</settings>
