<settings>
    <!-- 设备ID（只读展示，用户需要将此ID发送给卖家） -->
    <setting propertyKey="@Properties.deviceId" title="@Strings.DeviceIdTitle">
        <settingConfig type="alphaNumeric" readonly="true" />
    </setting>

    <!-- 激活码输入 -->
    <setting propertyKey="@Properties.licenseKey" title="@Strings.LicenseTitle" prompt="@Strings.LicensePrompt">
        <settingConfig type="alphaNumeric" />
    </setting>

    <!-- 表盘数据项名称语言（1 英语，2 中文） -->
    <setting propertyKey="@Properties.labelLanguage" title="@Strings.DataLabelLanguageTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.LanguageEnglish</listEntry>
            <listEntry value="2">@Strings.LanguageChinese</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.dataSlot1" title="@Strings.DataSlot1Title"><settingConfig type="list">
        <listEntry value="0">@Strings.DataSteps</listEntry><listEntry value="1">@Strings.DataHeartRate</listEntry>
        <listEntry value="2">@Strings.DataBodyBattery</listEntry><listEntry value="3">@Strings.DataWatchBattery</listEntry>
        <listEntry value="4">@Strings.DataCalories</listEntry><listEntry value="5">@Strings.DataDistance</listEntry>
    </settingConfig></setting>
    <setting propertyKey="@Properties.dataSlot2" title="@Strings.DataSlot2Title"><settingConfig type="list">
        <listEntry value="0">@Strings.DataSteps</listEntry><listEntry value="1">@Strings.DataHeartRate</listEntry>
        <listEntry value="2">@Strings.DataBodyBattery</listEntry><listEntry value="3">@Strings.DataWatchBattery</listEntry>
        <listEntry value="4">@Strings.DataCalories</listEntry><listEntry value="5">@Strings.DataDistance</listEntry>
    </settingConfig></setting>
    <setting propertyKey="@Properties.dataSlot3" title="@Strings.DataSlot3Title"><settingConfig type="list">
        <listEntry value="0">@Strings.DataSteps</listEntry><listEntry value="1">@Strings.DataHeartRate</listEntry>
        <listEntry value="2">@Strings.DataBodyBattery</listEntry><listEntry value="3">@Strings.DataWatchBattery</listEntry>
        <listEntry value="4">@Strings.DataCalories</listEntry><listEntry value="5">@Strings.DataDistance</listEntry>
    </settingConfig></setting>
    <setting propertyKey="@Properties.dataSlot4" title="@Strings.DataSlot4Title"><settingConfig type="list">
        <listEntry value="0">@Strings.DataSteps</listEntry><listEntry value="1">@Strings.DataHeartRate</listEntry>
        <listEntry value="2">@Strings.DataBodyBattery</listEntry><listEntry value="3">@Strings.DataWatchBattery</listEntry>
        <listEntry value="4">@Strings.DataCalories</listEntry><listEntry value="5">@Strings.DataDistance</listEntry>
    </settingConfig></setting>
</settings>
